$my-font: "my-font"
$my-default-font-size: 19px

@font-face
  font-family: "my-font"
  src: url("../fonts/PatrickHandSC-Regular.ttf")


html

  body
    color: $red
    font-family: $my-font
    font-size: $my-default-font-size

    > section

      > div.row

        aside
          background:
            color: #000

          .my-aside-button
            padding: 4px

            a.btn
              width: 100%


        main
          background:
            image: url("../img/ravel.png")
            size: cover
            repeat: no-repeat
            attachment: fixed

          @media screen and (min-width: 768px)
            background:
              size: 100%

          > header
            padding-bottom: 19px


        aside, main
          padding: 19px
